@mixin center-horizontal {
  left: 50%;
  transform: translateX(-50%);
}

@mixin center-both {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-vertical {
  top: 50%;
  transform: translateY(-50%);
}
