@function getLetterSpacing($fontSize, $tracking) {
  @return $tracking / $fontSize;
}

@mixin roboto-light {
  font-family: Roboto;
  font-weight: 300;
}

@mixin roboto-regular {
  font-family: Roboto;
  font-weight: 400;
}

@mixin roboto-medium {
  font-family: Roboto;
  font-weight: 500;
}

@mixin h1 {
  font-size: 96px;
  letter-spacing: #{getLetterSpacing(96, -1.5)}rem;
  @include roboto-light;
}

@mixin h2 {
  font-size: 60px;
  letter-spacing: #{getLetterSpacing(60, -0.5)}rem;
  @include roboto-light;
}

@mixin h3 {
  font-size: 48px;
  letter-spacing: #{getLetterSpacing(48, 0)}rem;
  @include roboto-regular;
}

@mixin h4 {
  font-size: 34px;
  letter-spacing: #{getLetterSpacing(34, 0.25)}rem;
  @include roboto-regular;
}

@mixin h5 {
  font-size: 24px;
  letter-spacing: #{getLetterSpacing(24, 0)}rem;
  @include roboto-regular;
}

@mixin h6 {
  letter-spacing: #{getLetterSpacing(20, 0.15)}rem;
  font-size: 20px;
  @include roboto-medium;
}

@mixin subtitle1 {
  font-size: 16px;
  letter-spacing: #{getLetterSpacing(16, 0.15)}rem;
  @include roboto-regular();
}

@mixin subtitle2 {
  font-size: 14px;
  letter-spacing: #{getLetterSpacing(14, 0.1)}rem;
  @include roboto-medium;
}

@mixin body1 {
  font-size: 16px;
  letter-spacing: #{getLetterSpacing(16, 0.5)}rem;
  @include roboto-regular;
}

@mixin body2 {
  font-size: 14px;
  letter-spacing: #{getLetterSpacing(14, 0.25)}rem;
  @include roboto-regular;
}

@mixin button {
  font-size: 14px;
  letter-spacing: #{getLetterSpacing(14, 0.75)}rem;
  @include roboto-medium;
}

@mixin caption {
  font-size: 12px;
  letter-spacing: #{getLetterSpacing(12, 0.4)}rem;
  @include roboto-regular;
}

@mixin overline {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: #{getLetterSpacing(10, 1.5)}rem;
  @include roboto-regular;
}

@mixin max-lines($count, $lineHeight: null) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $count;
  -webkit-box-orient: vertical;
  line-height: if($lineHeight != null, $lineHeight, unset);
  max-height: if($lineHeight != null, $lineHeight * 2, unset);
}
